			<footer class="contentinfo" role="contentinfo">
				<div class="bybrick management">
					<h1>Change</h1>
					<h2><a href="http://www.bybrick.se/en/our-business-areas/management/">byBrick Management</a></h2>
					<p>Drive changes and develop businesses.</p>
				</div><!-- .bybrick .management -->
				<div class="bybrick development">
					<h1>Development</h1>
					<h2><a href="http://www.bybrick.se/en/our-business-areas/development/">byBrick Development</a></h2>
					<p>Integration, collaboration, system architecture as well as requirement and test.</p>
				</div><!-- .bybrick .development -->
				<div class="bybrick interface">
					<h1>Communication</h1>
					<h2><a href="http://www.bybrick.se/en/our-business-areas/interface/">byBrick Interface</a></h2>
					<p>Creative solutions for effective sales and marketing activities.</p>
				</div><!-- .bybrick .interface -->
				<div class="bybrick operations">
					<h1>Operation</h1>
					<h2><a href="http://www.bybrick.se/en/our-business-areas/operations/">byBrick Operations</a></h2>
					<p>Creative solutions for effective sales and marketing activities.</p>
				</div><!-- .bybrick .operations -->
			</footer><!-- .contentinfo -->

		</div><!-- .page -->
		<script src="/javascript/main.min.js?v{{ site.time | date: '%y%m%d%H%M%S' }}"></script>
	</body>
</html>