{% include header.html %}

	<div class="page">
		<header class="site-header" role="banner">
			<div class="some">
				<a href="http://github.com/bybrick/" class="github">Fork on Github</a>
				<a href="http://facebook.com/bybrick/" class="facebook">Like on Facebook</a>
				<a href="http://linkedin.com/company/bybrick" class="linkedin">Follow on LinkedIn</a>
				<a href="http://twitter.com/bybrick/" class="twitter">Follow on Twitter</a>
			</div><!-- .some -->


				<a href="/" title="{{ site.name }}" rel="home">
				<h1 class="site-title"><img src="/images/bybrick.png" alt="{{ site.name }}"></h1>

                    </a>


		</header><!-- .site-header -->

    </div>

    <div class="color-divider"><div class="container"><div class="management"></div><div class="development"></div><div class="interface"></div><div class="operations"></div></div></div>

    <div class="page">

        <h2 class="site-description">This is our technical blog where we write about code, share open source projects or discuss solutions to problems we encounter in our daily workplace here at <a href="http://bybrick.se/" target="_blank">byBrick</a>.</h2>

		<div class="posts">
			{{ content }}
		</div>

{% include footer.html %}