/* =Footer
-------------------------------------------------------------- */

.contentinfo {
	@include clearfix();
	@include leader(4);
	background-color: lighten($black,10%);
	clear: both;
	margin-left: -$grid-padding;
	margin-right: -$grid-padding;
	padding-left: $grid-padding;
	padding-right: $grid-padding;

	@include at-breakpoint($break) {
		margin-left: -($grid-padding*2);
		margin-right: -($grid-padding*2);
		padding-left: ($grid-padding*2);
		padding-right: ($grid-padding*2);
	}

	h1 {
		@include adjust-font-size-to(22px);
	}

	h2 {
		@include adjust-font-size-to($base-font-size);
		font-weight: normal;
		margin-top: 0;
	}

	.bybrick {
		@include padding-leader();
		float: left;
		padding-left: $gutter-width;
		padding-right: $gutter-width;
		width: 50%;

		&:hover {
			cursor: pointer;
		}

		@include at-breakpoint($break) {
			width: 25%;		
		}

		/* Smartphones (portrait and landscape) */
		@media only screen and (max-width : 480px) {
			width: 100%;
		}
	}

	.management {
		background-color: $brown;

		h2 a {
			color: $brownDark;
			font-weight: normal;
		}
	}

	.development {
		background-color: $orange;

		h2 a {
			color: $orangeDark;
			font-weight: normal;
		}
	}

	.interface {
		background-color: $green;

		h2 a {
			color: $greenDark;
			font-weight: normal;
		}
	}

	.operations {
		background-color: $blue;

		h2 a {
			color: $blueDark;
			font-weight: normal;
		}
	}
}