/* =Header
-------------------------------------------------------------- */

.site-branding {
	img {
		@include padding-leader(2);
		@include trailer(2);
		clear: both;
	}
}

/* =Header Global
-------------------------------------------------------------- */

// .site-title {}

.site-description {
	@include adjust-font-size-to(22px);
	@include leader(2);
	@include trailer(2);
	font-weight: normal;
	line-height: 1.5em;
    max-width: 550px;
}

/* =Header Posts
-------------------------------------------------------------- */

.post-title {}

.post-description {
	color: $green;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.post-nav {
	@include clearfix();
	@include padding-leader();
	@include padding-trailer();
	@include trailer(2);
	background-color: lighten($black,10%);
	margin-left: 0;
	margin-right: 0;
	padding-left: $grid-padding;
	padding-right: $grid-padding;

	@include at-breakpoint($break) {
		margin-left: 0;
		margin-right: 0;
		padding-left: ($grid-padding*2);
		padding-right: ($grid-padding*2);
	}

	.post {
		float: left;
	}

	.next {
		float: right;
	}
}


.color-divider {

	background-color: $gray;

	.container {
		@include container;

//		@include at-breakpoint($break) {
//			@include set-container-width;
//		}
//
//		@include at-breakpoint($break) {
//			@include set-container-width;
//		}

//		@include at-breakpoint($break) {
//			@include set-container-width;
//		}

		div {
			height: 4px;
		}

      padding: 0px;

      max-width: 1152px;
	}

	.management {
		float: left;
		width: 25%;
		background-color: $brown;
	}

	.development {
		float: left;
		width: 25%;
		background-color: $orange;
	}
	.interface {
		float: left;
		width: 25%;
		background-color: $green;
	}
	.operations {
		float: left;
		width: 25%;
		background-color: $blue;

	}
}