/* =Header
-------------------------------------------------------------- */

.site-branding {
	img {
		@include padding-leader(2);
		@include trailer(2);
		clear: both;
	}
}

/* =Header Global
-------------------------------------------------------------- */

// .site-title {}

.site-description {
	@include adjust-font-size-to(22px);
	@include leader(1/2);
	@include trailer(2);
	font-weight: normal;
	line-height: 1.5em;
}

/* =Header Posts
-------------------------------------------------------------- */

.post-title {}

.post-description {
	color: $green;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.post-nav {
	@include clearfix();
	@include padding-leader();
	@include padding-trailer();
	@include trailer(2);
	background-color: lighten($black,10%);
	margin-left: -$grid-padding;
	margin-right: -$grid-padding;
	padding-left: $grid-padding;
	padding-right: $grid-padding;

	@include at-breakpoint($break) {
		margin-left: -($grid-padding*2);
		margin-right: -($grid-padding*2);
		padding-left: ($grid-padding*2);
		padding-right: ($grid-padding*2);
	}

	.post {
		float: left;
	}

	.next {
		float: right;
	}
}