/* =Links
-------------------------------------------------------------- */

a {
	@include force-wrap; // Force text links to wrap
	color: $blue;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $blueDark;
	}
}